@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Jua', sans-serif;
    background-color: #FAFAFA;
    scroll-behavior: smooth;
  }
  body::-webkit-scrollbar {
    display: none;
  }

  /* details에 transition을 넣기 위함 */
  details {
    height: var(--collapsed);
    overflow: hidden;
    transition: height 300ms cubic-bezier(0.4, 0.01, 0.165, 0.99);
  }
  details[open] {
    height: var(--expanded);
  }

  /* markdown으로 가져온 내용 스타일 수정 */
  .cover h1 { @apply text-white font-bold text-5xl mb-10 mx-[14vw] opacity-0 animation-delay-1000 animate-slide-bottom }
  .cover p { @apply z-0 text-white text-2xl text-center whitespace-pre-line mx-[10vw] opacity-0 animate-slide-right }
  .cover p:nth-child(even) { @apply animate-slide-right }
  .cover p:nth-child(odd) { @apply animate-slide-left }
  .cover p:nth-child(2) { @apply animation-delay-2000 }
  .cover p:nth-child(3) { @apply animation-delay-3000 }
  .cover p:nth-child(4) { @apply animation-delay-4000 }
  
  .skills h1 { @apply text-center font-bold text-5xl mt-20 }
  .description p { @apply p-4 bg-slate-300 whitespace-pre-line h-full cursor-auto }
  .description a { @apply text-indigo-500 transition-colors }
  .description a:hover { @apply text-indigo-700 underline underline-offset-2 decoration-2 }

  .projects h1 { @apply text-center font-bold text-5xl mt-20 mb-4 }


  /* react-slick dots 수정 */
  .custom-dots {
    width: 100%;
    list-style: none;
    text-align: center;
    padding: 0;
  }
  .custom-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
  }
  .custom-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0;
  }
  .custom-dots li button:before {
    font-size: 2.7rem;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    color: gray;
  }
  .custom-dots li.slick-active button:before {
    color: #ffffff;
  }
}